<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/admindash.css">
    <link rel="stylesheet" href="/css/adminroom.css">
    <link rel="stylesheet" href="/css/adminuser.css">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span> 
        </div>
      </header>
      <!-- End Header -->


      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined"></span> Admin Dashboard
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/admin/dashboard">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/rooms">
              <span class="material-icons-outlined">inventory_2</span> Rooms
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/users">
                <span class="material-icons-outlined">account_circle</span> Users
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/bookings">
              <span class="material-icons-outlined">add_shopping_cart</span> Bookings
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/logout">
                <span class="material-icons-outlined">logout</span> logout
            </a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->
