<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Rooms</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/room.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/common.ejs') %>
    <section class="roompage">
        <div class="filter">
            <div class="inputs">
                <label for="checkInDate">Check In Date:</label>
                <input type="date" name="checkInDate" id="checkInDate">
            </div>
            <div class="inputs">
                <label for="checkOutDate">Check Out Date:</label>
                <input type="date" name="checkOutDate" id="checkOutDate">
            </div>
            <div class="inputs">
                <button onclick="filterDate()" class="filterbtn" id="filterBtn">Check Availability</button>
            </div>
        </div>
        <h1>Available Rooms</h1>
        <div class="room-container" id="roomContainer">
           
        </div>
        <div class="pagination">
            
        </div>
    </section>
    <script src="/js/room.js"></script>
    <%- include('./partials/commonscript.ejs') %>
</body>
</html>
