.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 99;
  }

  .usertable {
    width: 75%;
    position: absolute;
    top: 100px;
    right: 20%;
    left: 20%;
}

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  

  .status-cancelled {
    color: red;
}
.status-booked,
.status-completed {
    color: green;
}
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .search-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .search-input {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-right: 10px; /* Add margin-right for gap */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    box-sizing: border-box; /* Ensures padding is included in width */
  }
  
  .search-button {
    height: 40px;
    width: auto;
    padding: 0 20px;
    border: none;
    background-color: #0080ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    box-sizing: border-box; /* Ensures padding is included in width */
  }
  
  @media (max-width: 600px) {
    .search-input {
      width: 200px;
    }
  }
  
  .search-input:focus {
    outline: none;
    border-color: #0080ff;
  }
  
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .usertable {
      width: 85%;
      position: absolute;
      top: 80px;
      right: 5%;
      left: 7%;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  @media screen and (max-width: 800px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .usertable{
      width: 85%;
      position: absolute;
      top: 80px;
      right: 5%;
      left: 7%;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      padding: 2em;
      margin-bottom: 2em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right !important;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }


  }
  
  
 
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }


  @media screen and (max-width: 1024px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .usertable{
      
        width: 80%;
        position: absolute;
        top: 140px;
        left: 10%;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      padding: 2em;
      margin-bottom: 2em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right !important;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }


  }
  
  
 
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  