a {
    text-decoration: none;
  }
  
  body, html {
    min-height: 100%;
  }
  
  body {
    background-position: center;
    background-size: cover;
      font-family: 'Roboto', sans-serif;
  }
  .pagee{
    width: 100%;
    height: 100vh;
  }
  .container {
    padding: 200px 0;
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      margin: 0 auto;
      max-width: 1000px;
      width: 100%;
      overflow-y: scroll;
  }
  
  .card {
      background: #fff;
      box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
      display: flex;
      height: 500px;
      overflow: hidden;
      width: 100%;
  }
  
  .slider {
      transition: width .4s ease-out;
      width: 65%;
  }
  
  .slider ul {
      height: 500px;
      width: 100%;
  }
  
  .slider li:first-of-type {
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
  }
  
  .content {
      color: #444f5a;
      padding: 35px;
      transition: width .4s ease-out;
      width: 35%;
      overflow-y: scroll;
  }
  
  .content h1 {
      color: #3e4149;
      display: inline-block;
      font-weight: 400;
      margin-bottom: 30px;
  }
  
  .content p {
      font-weight: 300;
      line-height: 1.4em;
      margin-bottom: 15px;
      text-align: justify;
  }
  
  .content h3 {
      color: #3e4149;
      margin: 20px 0;
  }
  
  .content ul {
      margin-bottom: 30px;
  }
  
  .content li {
      margin: 10px 0;
  }
  
  /* .prevslide {
    background: #ff9999;
    border: 2px solid #000;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    padding: 28px 0;
    width: 157px;
    border-radius: 40px;
  } */
  .button {
      background: #ff9999;
      border: none;
      color: #fff;
      display: block;
      font-weight: 500;
      letter-spacing: 4px;
      padding: 20px 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
  }
  
  .button:hover {
      background: #ffc8c8;
      cursor: pointer;
  }

  .booking {
      display: flex;
      position: relative;
  }
  
  .booking i {
    color: #191717;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 40px;
}
  
  .booking i:hover {
      color: #3e4149;
      cursor: pointer;
  }
  
  .room-info {
      width: 50%;
  }
  
  .room-info {
      border-right: 1px solid rgba(0, 0, 0, .1);
      padding-right: 30px;
      width: 100%;
  }

  
  /* body {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
  } */
  
  form{
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
  }

  div.elem-group {
    margin: 15px 0;
  }
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 5px;
    font-size: 1.25em;
  }
  
  #name{
    grid-row: span 1;
  }
  input, select {
    border-radius: 2px;
    border: 2px solid #777;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 90%;
    padding: 10px;
  }

  h4{
    display: inline-block;
    width: 100%;
    padding-right: 5px;
  }
  h4>p{
    display: inline-block;
    margin: 0;
  }

  #na{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #73716f;
     width: 60%;
    font-size: 50px;
    font-weight: 500;
    display: none;
}

@media screen and (max-width:800px) {

  .card{
    width: 95%;
  }
  .content{
    width: 70%;
  }
  
}

@media screen and (max-width: 600px) {

  .content h1 {
      font-size: 1.25em;
  }

  .content p {
      font-size: 0.875em;
  }

  .button {
      padding: 10px 0;
      font-size: 0.875em;
  }

  form {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
  }

  input, select {
      width: 100%;
  }
}
